@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var signInManager = Context.RequestServices.GetService<SignInManager<IdentityUser>>();
}

<form method="post" asp-area="" asp-page="/Account/Login" class="form-inline">
    <button type="submit" class="btn btn-link text-dark">Login</button>
</form>