@using Microsoft.AspNetCore.Identity

@{
    var signInManager = Context.RequestServices.GetService<SignInManager<IdentityUser>>();
}

<form method="post" asp-area="" asp-page="/Account/Logout" class="form-inline">
    <button type="submit" class="btn btn-link text-dark">Logout</button>
</form>