@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <!-- Jumbotron -->
    <div class="jumbotron p-5 bg-light border rounded-3">
        <h1 class="display-4">Welcome to Our Site!</h1>
        <p class="lead">Sample component cause it looks good!</p>
        <hr class="my-4">
        <p>Navigate through the site via top navbar. If you want to gain admin, register/login, click Admin debug button and then re-log cause cache still thinks we are users.</p>
        <p>You can:</p>
        <lu>
            <li>Register, login and gain admin,</li>
            <li>Add customers, edit and delete them,</li>
            <li>Edit existing users (yourselves or others if with admin role)</li>
        </lu>
        <p />
        <p>Aenean dictum tincidunt venenatis. Pellentesque pharetra condimentum dictum. Nulla ultrices, nisl a congue ultrices, magna tortor commodo nunc, at elementum arcu neque vitae nulla. Pellentesque in velit dignissim, tempor leo et, condimentum quam. Praesent interdum leo eget mauris facilisis tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam eu rhoncus lectus. Fusce ut felis ut augue cursus sodales sed ut nunc. Quisque venenatis id eros sed consectetur. Vestibulum auctor ligula vestibulum tempus ultricies. Proin rutrum dolor non enim porta tempor.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>