@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <div class="jumbotron p-5 bg-light border rounded-3">
        <h1 class="display-4">Privacy</h1>
        <hr class="my-4">
        <p>Mauris non dolor quis ante vehicula varius. Fusce at porttitor quam, quis pretium odio. Mauris posuere nunc quis enim consequat, quis scelerisque nisi eleifend. In pellentesque maximus justo, ac sagittis ligula mollis in. Duis et metus in mi sollicitudin faucibus. Phasellus egestas ultrices eros, eu cursus odio rhoncus non. Phasellus ultricies, augue at luctus rhoncus, libero tortor vehicula eros, at tincidunt nunc ligula a mauris. Cras molestie diam risus, quis lobortis metus rutrum id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc vulputate sit amet ipsum eget pharetra. Maecenas hendrerit erat ut eros consectetur dictum. Integer et tortor rhoncus, ultricies dui eu, malesuada elit. In lacinia dapibus enim sed varius. Morbi et lacinia risus. Proin sodales porttitor arcu, eget luctus odio maximus sed. Nulla et fringilla augue.</p>

        <p>Pellentesque vitae interdum ex. Nunc ut dictum tortor. Donec quis scelerisque velit, sit amet faucibus lacus. Maecenas non diam a purus blandit accumsan. Nam condimentum leo a tortor ultrices facilisis. In hac habitasse platea dictumst. Suspendisse vulputate sodales nibh eget efficitur. Aenean vel elementum felis, aliquet consectetur ante. Vestibulum commodo, dolor a ullamcorper interdum, odio quam varius purus, eu pellentesque leo magna ac arcu. Aenean euismod metus in augue sagittis, eu tristique elit tempor. Aenean pretium dapibus urna, vel scelerisque lorem mattis id.</p>

    </div>
</div>

